<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Погода</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="html/css/styles.css?v=1.1">
    <!-- <script src="static/js/script.js?v=1.1"></script> -->
</head>

<body>
<div id="app">
    <div class="header">
    </div>

    <div class="main">
        <button name="getButton">Узнать погоду</button>

    </div>

    <div class="footer">
    </div>
</div>
</body>
</html>